<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="./css/principal.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <title>Barrigudo Burguers</title>
</head>
<body>
    <header>
        <nav class="nav-superior">
            <ul id="menu-principal">
                <li><a href="index.html">Barrigudo Burguers</a></li>
                <li><a href="templates/sobre.html">Sobre</a></li>
            </ul>
        </nav>
        <h1>Seja bem-vindo à nossa hamburgueria do Barrigudo!</h1>
        <div class="banner"></div>
    </header>